.index {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

.background{
  background-color:#dbe1f8;
}

.first{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.first-text{
  display: flex;
  flex-direction: column; 
}
.first-text-1{
  line-height: 10vh;
  color: rgba(73,136,242,1);
  font-size: 3vh;
  text-align: left;
  font-family: SourceHanSansSC-bold;
  margin-left: 2vh;
}
.first-text-2{
  line-height: 6vh;
  color: #000000;
  font-size: 5vh;
  text-align: left;
  font-family: SourceHanSansSC-bold;
  margin-left: 2vh;
}

.first-avatar-1{
  width: 5vh;
  height: 3.4vh;
  border-radius: 25px;
  background-color: rgba(240,240,240,1);
  color: rgba(16,16,16,1);
  font-size: 1.6vh;
  border: 0.5px solid #000000;
  text-align: center;
  box-sizing: content-box; 
  padding: 0;
  margin-top: 12vh;
}

.first-avatar-2{
  margin-top: 4vh;
  margin-right: 2vh;
  color: rgba(154,154,154,1);
  background-color: rgba(239,239,239,1);
  border: 1px solid rgba(187,187,187,1);
}

.second-background{
  margin-left: 2vh;
  margin-right: 2vh;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.81);
  border: 1px solid rgba(255,255,255,1);
}

.second-noticebar{
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: 1vh;

  background-color: #EAEDF9;
  color: #000000;
  border-radius: 25px;
}

.main-button {
  width:80vw;
  height:8vh;
  font-size: 2.5vh;
  font-family: SourceHanSansSC-bold;
  margin-top: 60px;
  text-align: center;
  border: 8px solid #FFFFFF;
  border-radius: 50px;
}
.text2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
  font-size: larger;
}

.third-icon{
  font-size: larger;
  margin-right: 20vh;
  background-color: #dbe1f8;
  font-family: SourceHanSansSC-bold;
}


.third-background{
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 4vh;
  border-radius: 30px;
  background-color: #C5D1F4;
}

.third-case{
  background-color: #C5D1F4;
  display: flex;
  flex-direction: row;
}

.third-case-icon{
  margin-left: 1.5vh;
  margin-top:2vh;
  margin-bottom: 2vh;
  color: rgba(108,108,108,1);
}

.third-case-text{
  display: flex;
  justify-content: center; // 横向居中
  align-items: center; // 纵向居中
  
  width: 75vw;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-bottom: 1.5vh;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  font-size: large;
}
.small-list {
  margin-top: 60px;
}
.last-list{
  background-color: #C5D1F4;
}
.last-bar{
  border-radius: 35px;
  text-align: center;
  background-color: #C5D1F4;
}